<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>

  

    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"><title>crystalOgraph</title></head><body bgcolor="#ffffff">
    <table align="center">
      <tbody>
        <tr>
          <td align="left" width="5%"><a href="http://www.epfl.ch"><img style="border: 0px solid ; width: 120px; height: 80px;" alt="logo_EPFL" src="epfl_log_text.gif"></a></td>
          <td align="center" width="90%">
            <h1>CrystalOgraph</h1>
            <h2>An interactive applet for drawing crystal structures</h2>
          </td>
          <td align="right" width="5%"><a href="http://lcr.epfl.ch"><img src="logo-lcr.gif" border="0"></a></td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td align="center">
            <h3>By: Nicolas
                Schoeni and <a href="mailto:gervais.chapuis@epfl.ch">Gervais Chapuis</a><br>
              École Polytechnique Fédérale de
              Lausanne, Switzerland</h3>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
    <hr>
    <center>
      <br>

    </center>
    <br>
    CrystalOgraph allows you to draw interactively on the screen any
    simple crystallographic structure by specifying the lattice constantsspace group
    and the coordinates of the symmetry independent atoms. <br>
    The structure parameters can be either entered by hand on the screen
    or from a selection of examples.
    <br>
    <br>
    In addition to the panel functions, the following key combinations
    can be used:
    <li> Rotate the structure : Drag the mouse inside the screen. </li>
    <li> Rotate around the normal to the plane : Shift+drag the mouse or
      mouse right button. </li>
    <li> Zoom in/out : Alt+drag the mouse or mouse wheel or up/down
      arrow keys. </li>
    <br>
    <hr>
    <br><br>
&nbsp;
  
</body></html>