<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>reciprOgraph</title></head><body bgcolor="#ffffff">




<table align="center">
	<tbody><tr>
		<td align="left" width="5%"><a href="http://www.epfl.ch"><img src="epfl_log_text.gif" border="0"></a></td>
		<td align="center" width="90%">
			<h1>ReciprOgraph</h1>
		</td>			
		<td align="right" width="5%"><a href="http://lcr.epfl.ch"><img src="logo-lcr.gif" border="0"></a></td>
	</tr>
		<tr><td><br>
</td>			
		<td align="center">
			<h3>By: 
			<a href="mailto:nicolas.schoeni@epfl.ch">Nicolas Schoeni</a> and 
      <a href="mailto:gervais.chapuis@epfl.ch">Gervais Chapuis</a><br>			
			Ecole Polytechnique Fédérale de Lausanne, Switzerland</h3>
		</td>			
		<td><br>
</td>			
	</tr><tr>
	</tr>
</tbody></table>




<hr>ReciprOgraph is an applet to calculate the intensities of any substance diffracted
by x-rays. The structure to be studied can be read from a CIF
file.&nbsp; The intensities are given by the square of the&nbsp;
structure factor modulus <span style="font-style: italic;">I</span>(<span style="font-weight: bold;">h</span>)=|<span style="font-style: italic;">F</span>(<span style="font-weight: bold;">h</span>)|<sup>2</sup> where&nbsp; <span style="font-weight: bold;">h</span>=h<span style="font-weight: bold;">a</span>*+k<span style="font-weight: bold;">b</span>*+l<span style="font-weight: bold;">c</span>*
is a reciprocal vector.&nbsp; The intensities are represented on the
reciprocal lattice where the size of each lattice point <span style="font-weight: bold;">h</span> is proportional to its intensity.<br>
<br>
The intensities can be analysed by selecting a reciprocal lattice plane
<span style="font-weight: bold;">u</span>=u<span style="font-weight: bold;">a</span>+v<span style="font-weight: bold;">b</span>+w<span style="font-weight: bold;">c </span>where <span style="font-weight: bold;">a</span>, <span style="font-weight: bold;">b</span>
and <span style="font-weight: bold;">c</span> are the lattice
constants and u, v and w are integers. For each value of the triplet,
the lattice plane can be shifted by parrallel displacement.<br>




<hr>
</body></html>