.nav-still {
	padding-top: 20px;
}

.nav-move {
	position: fixed;
	top: 20px;
}

.container-applet {
	padding: 20px;
	border: 1px lightgray solid;
	border-radius: 20px;
	margin-top: 20px;
}

.btn-glyph {
	margin-right: 3px;
}

.text-applet {
	padding-left: 20px!important;
}

.container-applet .img-responsive {
	margin-top: 15px;
	display: inline-block;
}

.container-applet .g-span-col8 {
	text-align: left;
}

.container-applet h3 {
	margin-top: 15px;
}

.container-applet .g-row {
	text-align: center;
}

.modal-header .btn-abort{
	margin-right: 0;
}

/*a {
	color: black!important;
	text-decoration: none!important;
}*/